<section class="forms">
  <div class="container">
		<div class="row">
			<div class="col s12 m6 offset-m3">
			
			
		<div class="card-panel z-depth-5">
		<h4 class="center"> Contato</h4>	 
<div class="row">
  <form class="col s12 m12">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome">
    <label for="nome">Email:</label>
    <input type="text" id="email" name="email">
    <label for="nome">Mensagem:</label>
    <textarea class="materialize-textarea" id="mensagem" name="mensagem"></textarea>
    <br /> <br />
    <div class="row center">  
    <button (click)="cadastrarPet()"  class="btn-large waves-effect waves-light orange">Enviar</button>
    </div>
    </form>
    <div><p> {{ mensagem }} </p></div>
   
</div><!--row-->
</div><!--card-->


</div><!--col-->
  </div><!--row-->
  </div><!--conatiner-->
  </section>