/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .section .container{
   min-height: 600px;
   min-width: 100%;
   position: relative;
   text-align: center;
 }
 .section form{
  background: #17a68c;
  margin: 0 auto;
  padding: 10px 20px;
  min-height: 150px;
  min-width: 70%;
  display: inline-block;
}
 .pets{
  padding-top: 100px;
 }
 
 .forms{
  min-height: 650px;
  padding-bottom: 20px;
  padding-top: 50px;
  background: #17a68c;
}

 .demo-3 {
  position:relative;
  width:300px;
  
  overflow:hidden;
  float:left;
  margin-right:20px
}
.demo-3 figure {
  margin:0;
  padding:0;
  position:relative;
  cursor:pointer;
  margin-left:-50px
}
.demo-3 figure img {
  display:block;
  position:relative;
  z-index:10;
  margin:-15px 0;
  object-fit: cover;
}
.demo-3 figure figcaption {
  display:block;
  position:absolute;
  z-index:5;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
.demo-3 figure h2 {
  font-family:'Lato';
  color:#fff;
  font-size:20px;
  text-align:center;
}
.demo-3 figure p {
  display:block;
  font-family:'Lato';
  font-size:12px;
  line-height:18px;
  margin:0;
  color:#fff;
  text-align:center;
}
.demo-3 figure figcaption {
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:29px 44px;
  background-color:#ff9500;
  text-align:center;
  backface-visibility:hidden;
  -webkit-transform:rotateY(-180deg);
  -moz-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}
.demo-3 figure img {
  backface-visibility:hidden;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
  -webkit-transform:rotateY(0);
  -moz-transform:rotateY(0);
  transform:rotateY(0)
}
 .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.link {
  color: #06594a;
}
.menu{
  margin-left: 300px;
}
.topo{
  height: 68px;
}
.logo{
  margin-left: 2%;
}
.banner{
  height: 500px;
  background: url(../images/friends.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner h1
{
  font-weight: 700;
  font-family: 'Rammetto One', cursive;
}
h3{
  font-family: 'Rammetto One', cursive;
  text-align: center;
}
.img-pet{
  margin-bottom: 20px;
  
}
.img-pet img{
  object-fit: cover;
  height: 200px;
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
}

.footer{
  padding: 2%;
}
form button{
  margin: 0 auto;
}
select{
  color: #06594a;
  border-radius: 10px;
}
.form{
  margin-top: 50px;
  margin-bottom: 50px;
  padding:20px;
}
section{
  min-height: 500px;
}