
<section class="pets">
    <div class="section">
      <h3 class="teal-text">Encontre seu pet</h3>
      <div class="row">
        <div class="col s12 m3">
      			
            <ul class="demo-3">
          <li>
              <figure>
                  <img src="assets/images/friends.jpg" class="responsive-img" alt=""/>
                  <figcaption>
                      <h2>Project title</h2>
                     
                  </figcaption>
              </figure>
          </li>
      </ul>
    </div>
    <div class="col s12 m3">
      			
        <ul class="demo-3">
      <li>
          <figure>
              <img src="assets/images/friends.jpg" class="responsive-img" alt=""/>
              <figcaption>
                  <h2>Project title</h2>
                 
              </figcaption>
          </figure>
      </li>
  </ul>
</div>
<div class="col s12 m3">
      			
    <ul class="demo-3">
  <li>
      <figure>
          <img src="assets/images/friends.jpg" class="responsive-img" alt=""/>
          <figcaption>
              <h2>Project title</h2>
             
          </figcaption>
      </figure>
  </li>
</ul>
</div>
<div class="col s12 m3">
      			
    <ul class="demo-3">
  <li>
      <figure>
          <img src="assets/images/friends.jpg" class="responsive-img" alt=""/>
          <figcaption>
              <h2>Project title</h2>
             
          </figcaption>
      </figure>
  </li>
</ul>
</div>
<div class="col s12 m3">
      			
    <ul class="demo-3">
  <li>
      <figure>
          <img src="assets/images/friends.jpg" class="responsive-img" alt=""/>
          <figcaption>
              <h2>Project title</h2>
             
          </figcaption>
      </figure>
  </li>
</ul>
</div>

        </div>
      </div>
    <br><br>

</section>